In [1]:
#GOAL: Convert the world.sql into json, so it can be uploaded to Firebase
import mysql.connector

#Make a new connection to the MySQL server
mydb = mysql.connector.connect(host="localhost",
                               user="root",
                               password='testpassword123',
                               auth_plugin='mysql_native_password'
                              )
mycursor = mydb.cursor()

In [2]:
#Check dbs that exist
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('information_schema',)
('kickstarter',)
('kickstarter_samp',)
('mysql',)
('performance_schema',)
('sys',)
('world',)

In [11]:
#Select table=COUNTRY from the database=WORLD
mydb = mysql.connector.connect(host="localhost",
                               user="root",
                               password='testpassword123',
                               database='world',
                               auth_plugin='mysql_native_password'
                              )
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM country")
myresult = mycursor.fetchall()
for x in myresult[0]:
#     print(x)
#     print(type(x))
    
    print(str(x))
#     print(type(str(x)))

ABW
Aruba
North America
Caribbean
193.00
None
103000
78.4
828.00
793.00
Aruba
Nonmetropolitan Territory of The Netherlands
Beatrix
129
AW